body{
    background-image: linear-gradient(rgb(51, 97, 194), rgb(255, 226, 181));
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

#div_title{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_style_effect{
    margin-top: 25px;
    transition: all 0.2s 0s;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 12;
}

.p_style_effect:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.etoile{
    position: absolute;
    width: 3px;
    height: 80px;
    background: linear-gradient(rgba(109, 109, 109, 0.1), white);
    rotate: 70deg;
}



